@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-opacity {
  position: relative;
  background-color: #000;
}

.bg-opacity::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background: url("../public/images/Login_Bg.jpg") no-repeat center center;
  background-size: cover;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* This style targets the autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* This style overrides the background color */
input:-webkit-autofill {
  -webkit-text-fill-color: #fff; /* Change text color to ensure visibility */
  background-color: var(--input-autofill-bg) !important;
}

@media only screen and (max-width: 640px) {
  .bg-opacity .content {
    background: black;
    min-height: 100vh;
  }
}
