@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("../public/images/Login_Bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* This style targets the autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* This style overrides the background color */
input:-webkit-autofill {
  -webkit-text-fill-color: #fff; /* Change text color to ensure visibility */
  background-color: var(--input-autofill-bg) !important;
}

@media only screen and (max-width: 640px) {
  .background-image {
    background: black;
    min-height: 100vh;
  }
}
